#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.home-card {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.read-the-docs {
	color: #888;
}

.address-row {
	display: flex;
	gap: 16px;
}

.title {
	padding: 50px 50px 20px 50px;
	color: #ccc;
  }

.field {
	width: 250px;
	position: relative;
  }
  .floating-label {
	position: relative;
	display: block;
  }


  .floating-label input,
  .floating-label select {
	width: 100%;
	padding: 14px 12px;
	font-size: 14px;
	border: 1.5px solid #ccc;
	border-radius: 6px;
	background: transparent;
	outline: none;
  }
  .dropdown {
	position: absolute;
	width: 100%;
	margin-top: 0px;
	cursor: pointer;
  
	list-style: none;
	padding: 0;
	margin-bottom: 0;
  
	border: 1.5px solid #888;
	border-radius: 6px;
	background: white;
  
	max-height: 150px;
	overflow-y: auto;
  
	z-index: 10;       
  }
  .dropdown-item {
	padding: 10px 12px;
	cursor: pointer;
	color: black;
	border-bottom: 1px solid #ccc;
	transition: background 0.2s ease;
  }
  
  .dropdown-item:last-child {
	border-bottom: none;
  }
  
  .dropdown-item:hover {
	background-color: #dbdbdb;
  }
  
  .floating-label input::placeholder {
	color: transparent;
  }


  .floating-label span {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 15px;
	color: #888;
	pointer-events: none;
	transition: 0.4s ease;
	padding: 0 3px;
  }
  
.floating-label input:focus + span,
.floating-label input:not(:placeholder-shown) + span,
.floating-label select + span,
.floating-label select:focus + span {
	top: -5.5px; 
	transform: translateY(-50%);
	font-size: 16px;
	color:  #ccc;
	left: 0px; 
	padding: 0 6px;
  }
  
  .error-container {
    height: 30px; 
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-field {
    color: red;
    margin: 0; 
    font-size: 15px;
}